html
  head
    title 404 Not Found
    link(rel='stylesheet', href='/stylesheets/404.css')
  body
    div.content
      h1 404
      h3 The specified redirect could not be found.
      h5 Please double-check the URL to make sure it is correct. If it is, please consult the website owner.
    div.footer
      span redisred v0.0.1
