html
  head
    title redisred 404
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
  body
    div.container
      h1(style="color: #d43f3a; font-size: 12em; text-align: center;") 404
      h2(style="font-size: 5em; text-align: center; line-height: 2em;")
        span redisred
        br
        small(style="font-size: 0.2em") The specified redirect could not be found
